.main{
    overflow-x: hidden;
    position: relative;
}
.design{
    position: absolute;
    top: 80px;
    left: -150px;
    height: 20vh;
    width: 20%;
    background: rgb(0,115,255);
  background: linear-gradient(176deg, rgba(0,115,255,1) 0%, rgba(251,138,255,1) 100%);
  border-radius: 50%;
  filter: blur(30px);
  opacity: .2;
  }
  .design2{
    position: absolute;
    top: 60px;
    right: -100px;
    height: 40vh;
    width: 30%;
    background: rgb(0,115,255);
  background: linear-gradient(76deg, rgba(0,115,255,1) 0%, rgba(251,138,255,1) 100%);
  border-radius: 50%;
  filter: blur(30px);
  opacity: .4;
  }
  .design3{
    position: absolute;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    left: 150px;
  opacity: .5;
  bottom: 140px;
  filter: blur(10px);

  }
  .design4{
    position: absolute;
    background-color: rgb(62, 62, 218);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    right: 100%;
  opacity: .5;
  bottom: 160px;
  filter: blur(10px);
  }
  .design5{
    position: absolute;
    background-color: rgb(44, 141, 252);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    right: 50%;
  opacity: .5;
  bottom: 350px;
  filter: blur(10px);
  }
  .design6{
    position: absolute;
    background-color: rgb(220, 247, 72);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    right: 30%;
  opacity: .8;
  bottom: 160px;
  filter: blur(10px);
  }

.heading h1{
    text-align: center;
font-size: 70px;
color: #3b3b3b;
margin-top: 50px;
}
.scrollHeading span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.scrollHeading .icon{
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  background: rgb(0,115,255);
  background: linear-gradient(76deg, rgba(0,115,255,1) 0%, rgba(251,138,255,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body{
    display: flex;
    overflow: auto;
}
.body::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width : 425px){
  .heading h1 {
font-size: 60px;
  }
}